<div class="container ">
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="InputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="InputName" aria-describedby="name" name="name"
                [(ngModel)]="patientForm.patientName">
            <!-- <div id="name" class="form-text"></div> -->
        </div>
        <div class="mb-3">
            <label for="InputAge" class="form-label">Age</label>
            <input type="text" class="form-control" id="InputAge" aria-describedby="name" name="age"
                [(ngModel)]="patientForm.patientAge">
            <!-- <div id="name" class="form-text"></div> -->
        </div>
        <div class="mb-3">
            <label for="DOV" class="form-label">Date of Visit</label>
            <input type="date" placeholder="dd/mm/yyyy" class="form-control" id=" DOV" name="dateOfVisit"
                [(ngModel)]="patientForm.dateOfVisit">
        </div>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="visitedDoc"
            [(ngModel)]="patientForm.visitedDoctor">
            <option selected disabled>Select Doctor</option>
            <option *ngFor="let doctor of doctorList" [ngValue]="doctor.doctorId">{{doctor.doctorName}}</option>
        </select>
        <div class="mb-3">
            <label for="InputName" class="form-label">Prescription</label>
            <input type="text" class="form-control" id="InputPres" aria-describedby="name" name="prescription"
                [(ngModel)]="patientForm.doctorPrescription">
            <!-- <div id="name" class="form-text"></div> -->
        </div>
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
</div>